In [136]:
import pandas as pd
import numpy as np

In [137]:
credits = pd.read_csv('credits.csv')
movies = pd.read_csv('movies_metadata.csv')
users = pd.read_csv('users.csv')
ratings = pd.read_csv('ratings.csv')

C:\Users\HARSH\AppData\Local\Temp\ipykernel_2800\616419800.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('movies_metadata.csv')

In [138]:
movies.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [139]:
credits['id']=credits['id'].astype(str)

In [140]:
movies=movies.merge(credits,on='id')

In [141]:
movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,FALSE,"[{'id': 10194, 'name': 'Toy Story Collection',...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."

In [142]:
movies = movies[['belongs_to_collection','genres','id','original_language','release_date','original_title','runtime','overview','cast','crew']]

In [143]:
movies.isnull().sum()

belongs_to_collection    41038
genres                       0
id                           0
original_language           11
release_date                87
original_title               0
runtime                    260
overview                   954
cast                         0
crew                         0
dtype: int64

In [144]:
movies.duplicated().sum()

99

In [145]:
movies.dropna(inplace=True)

In [146]:
movies.duplicated().sum()

11

In [147]:
movies.drop_duplicates()

,belongs_to_collection,genres,id,original_language,release_date,original_title,runtime,overview,cast,crew
0,"[{'id': 10194, 'name': 'Toy Story Collection',...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,30-10-1995,Toy Story,81.0,"Led by Woody, Andy's toys live happily in his ...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
2,"[{'id': 119050, 'name': 'Grumpy Old Men Collec...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,22-12-1995,Grumpier Old Men,101.0,A family wedding reignites the ancient feud be...,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
4,"[{'id': 96871, 'name': 'Father of the Bride Co...","[{'id': 35, 'name': 'Comedy'}]",11862,en,10-02-1995,Father of the Bride Part II,106.0,Just when George Banks has recovered from his ...,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
9,"[{'id': 645, 'name': 'James Bond Collection', ...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",710,en,16-11-1995,GoldenEye,130.0,James Bond must unmask the mysterious head of ...,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de..."
12,"[{'id': 117693, 'name': 'Balto Collection', 'p...","[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",21032,en,22-12-1995,Balto,78.0,An outcast half-wolf risks his life to prevent...,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de..."
...,...,...,...,...,...,...,...,...,...,...
45427,"[{'id': 37261, 'name': 'The Carry On Collectio...","[{'id': 35, 'name': 'Comedy'}]",24568,en,01-09-1967,Follow That Camel,95.0,Bertram Oliphant West (also known as Bo West) ...,"[{'cast_id': 3, 'character': 'Sergeant Nocker'...","[{'credit_id': '52fe449dc3a368484e02d0f7', 'de..."
45430,"[{'id': 37261, 'name': 'The Carry On Collectio...","[{'id': 35, 'name': 'Comedy'}]",19307,en,29-05-1969,Carry On Camping,88.0,Sid and Bernie keep having their amorous inten...,"[{'cast_id': 3, 'character': 'Sid Boggle', 'cr...","[{'credit_id': '52fe47cf9251416c750a61d7', 'de..."
45441,"[{'id': 37261, 'name': 'The Carry On Collectio...","[{'id': 35, 'name': 'Comedy'}]",21251,en,01-10-1976,Carry On England,89.0,Captain S. Melly takes over as the new Command...,"[{'cast_id': 4, 'character': 'Captain S. Melly...","[{'credit_id': '52fe4411c3a368484e00da03', 'de..."
45443,"[{'id': 477208, 'name': 'DC Super Hero Girls C...","[{'id': 16, 'name': 'Animation'}]",460135,en,30-08-2017,LEGO DC Super Hero Girls: Brain Drain,0.0,"When Supergirl, Wonder Woman, Batgirl, Bumbleb...","[{'cast_id': 0, 'character': 'Wonder Woman', '...","[{'credit_id': '593136c092514115e500aafd', 'de..."
45454,"[{'id': 200641, 'name': 'Red Lotus Collection'...","[{'id': 28, 'name': 'Action'}, {'id': 10769, '...",182030,zh,22-12-1965,火燒紅蓮寺之鴛鴦劍俠,88.0,Kwei Wu happens upon a kidnapping with his wif...,"[{'cast_id': 4, 'character': 'Gui Wu', 'credit...","[{'credit_id': '52fe4c789251416c7511b6cd', 'de..."

In [148]:
import ast
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [149]:
movies['genres']=movies['genres'].apply(convert)

In [150]:
movies['cast']=movies['cast'].apply(convert)

In [151]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [152]:
movies['crew']=movies['crew'].apply(fetch_director)

In [153]:
import ast
def convert1(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['poster_path'])
        L.append(i['backdrop_path'])
    return L

In [154]:
movies['belongs_to_collection']=movies['belongs_to_collection'].apply(convert1)

In [155]:
movies2 = movies[['genres','id','original_language','release_date','original_title','runtime','overview','cast','crew']]

In [156]:
movies3 = movies[['belongs_to_collection','id']]

In [157]:
movies3[['image1','image2']] = pd.DataFrame(movies3.belongs_to_collection.tolist(), index= movies3.index)

C:\Users\HARSH\AppData\Local\Temp\ipykernel_2800\318437437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies3[['image1','image2']] = pd.DataFrame(movies3.belongs_to_collection.tolist(), index= movies3.index)
C:\Users\HARSH\AppData\Local\Temp\ipykernel_2800\318437437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies3[['image1','image2']] = pd.DataFrame(movies3.belongs_to_collection.tolist(), index= movies3.index)

In [158]:
movies3 = movies3[['id','image1','image2']]

In [159]:
movies=movies.merge(movies3,on='id')

In [160]:
final_movies = movies[['genres','id','original_language','release_date','original_title','runtime','overview','cast','crew','image1','image2']]

In [161]:
final_movies['runtime'] = final_movies['runtime'].astype(str)          
final_movies['runtime'] = final_movies['runtime'].str.replace('.0', ' ')

C:\Users\HARSH\AppData\Local\Temp\ipykernel_2800\318855864.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_movies['runtime'] = final_movies['runtime'].astype(str)
C:\Users\HARSH\AppData\Local\Temp\ipykernel_2800\318855864.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_movies['runtime'] = final_movies['runtime'].str.replace('.0', ' ')

In [162]:
content_list = final_movies

In [163]:
content_list.head(1)

,genres,id,original_language,release_date,original_title,runtime,overview,cast,crew,image1,image2
0,"[Animation, Comedy, Family]",862,en,30-10-1995,Toy Story,81,"Led by Woody, Andy's toys live happily in his ...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter],/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg

In [164]:
content_list['overview']=content_list['overview'].apply(lambda x:x.split())

C:\Users\HARSH\AppData\Local\Temp\ipykernel_2800\1981010361.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_list['overview']=content_list['overview'].apply(lambda x:x.split())

In [165]:
content_list.head(1)

,genres,id,original_language,release_date,original_title,runtime,overview,cast,crew,image1,image2
0,"[Animation, Comedy, Family]",862,en,30-10-1995,Toy Story,81,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter],/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg

In [166]:
content_list['release_date'] = pd.to_datetime(content_list['release_date'])

C:\Users\HARSH\AppData\Local\Temp\ipykernel_2800\3400527750.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  content_list['release_date'] = pd.to_datetime(content_list['release_date'])
C:\Users\HARSH\AppData\Local\Temp\ipykernel_2800\3400527750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_list['release_date'] = pd.to_datetime(content_list['release_date'])

In [167]:
content_list['release_date'] = content_list['release_date'].dt.year

C:\Users\HARSH\AppData\Local\Temp\ipykernel_2800\2185267745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_list['release_date'] = content_list['release_date'].dt.year

In [168]:
content_list.head(1)

,genres,id,original_language,release_date,original_title,runtime,overview,cast,crew,image1,image2
0,"[Animation, Comedy, Family]",862,en,1995,Toy Story,81,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter],/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg

In [169]:
ratings = ratings[['userId','movieId','rating']]

In [170]:
ratings['id']=ratings['movieId']

In [171]:
ratings = ratings[['userId','id','rating']]

In [172]:
ratings['id']=ratings['id'].astype(str)

In [173]:
ratings_with_id=ratings.merge(content_list,on='id')

In [174]:
ratings_with_id.isnull().sum()

userId                  0
id                      0
rating                  0
genres                  0
original_language       0
release_date            0
original_title          0
runtime                 0
overview                0
cast                    0
crew                    0
image1               6554
image2               9617
dtype: int64

In [175]:
ratings_with_id.head(1)

,userId,id,rating,genres,original_language,release_date,original_title,runtime,overview,cast,crew,image1,image2
0,1,110,1.0,"[Drama, Mystery, Romance]",fr,1994,Trois couleurs : Rouge,99,"[Red, This, is, the, third, film, from, the, t...","[Irène Jacob, Jean-Louis Trintignant, Jean-Pie...",[Krzysztof Kieślowski],/rVdd23QuT5rHX7lZvuAkRRUkeCZ.jpg,/AeHExfHIl70SZCea907KfEoSkfJ.jpg

In [176]:
x=ratings_with_id.groupby('userId').count()['rating'] > 30
litrate_user = x[x].index

In [177]:
filtered_rating = ratings_with_id[ratings_with_id['userId'].isin(litrate_user)]

In [178]:
y = filtered_rating.groupby('original_title').count()['rating']>=30
famous_movies = y[y].index

In [179]:
final_ratings = filtered_rating[filtered_rating['original_title'].isin(famous_movies)]

In [180]:
final_ratings.shape

(44097, 13)

In [181]:
final_ratings.head(1)

,userId,id,rating,genres,original_language,release_date,original_title,runtime,overview,cast,crew,image1,image2
3,24,110,5.0,"[Drama, Mystery, Romance]",fr,1994,Trois couleurs : Rouge,99,"[Red, This, is, the, third, film, from, the, t...","[Irène Jacob, Jean-Louis Trintignant, Jean-Pie...",[Krzysztof Kieślowski],/rVdd23QuT5rHX7lZvuAkRRUkeCZ.jpg,/AeHExfHIl70SZCea907KfEoSkfJ.jpg

In [182]:
final_movies = final_movies[['id','original_title','genres','overview','cast','crew','image1','image2','runtime','release_date','original_language']]

In [183]:
final_movies.shape

(4480, 11)

In [184]:
final_movies.head(1)

,id,original_title,genres,overview,cast,crew,image1,image2,runtime,release_date,original_language
0,862,Toy Story,"[Animation, Comedy, Family]","[Led, by, Woody,, Andy's, toys, live, happily,...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter],/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,81,1995,en

In [185]:
final_movies['genres']= final_movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
final_movies['cast']= final_movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
final_movies['crew']= final_movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [186]:
final_movies['tags'] = final_movies['overview'] + final_movies['cast'] + final_movies['crew'] + final_movies['genres']

In [187]:
new_df = final_movies[['id','original_title','tags','image1']]

In [188]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\HARSH\AppData\Local\Temp\ipykernel_2800\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [189]:
new_df['tags']= new_df['tags'].apply(lambda x:x.lower())

C:\Users\HARSH\AppData\Local\Temp\ipykernel_2800\899821970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']= new_df['tags'].apply(lambda x:x.lower())

In [190]:
new_df.head(1)

,id,original_title,tags,image1
0,862,Toy Story,"led by woody, andy's toys live happily in his ...",/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg

# Text Vectorization (Bags of words)

In [191]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=6000,stop_words='english')

In [192]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [203]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [194]:
cv.get_feature_names()

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '13th',
 '14',
 '15',
 '16',
 '17',
 '17th',
 '18',
 '1930',
 '1940',
 '1945',
 '1950',
 '1954',
 '1960',
 '1967',
 '1969',
 '1970',
 '1980s',
 '1984',
 '1985',
 '1986',
 '1992',
 '1999',
 '19th',
 '20',
 '2000',
 '2001',
 '2006',
 '2009',
 '20th',
 '21st',
 '22nd',
 '23',
 '25',
 '30',
 '3d',
 '3rd',
 '40',
 '4ever',
 '50',
 'aaron',
 'aarondouglas',
 'abandoned',
 'abby',
 'abducted',
 'abducts',
 'abhishekbachchan',
 'abilities',
 'ability',
 'able',
 'abo',
 'aboard',
 'abrams',
 'abroad',
 'absent',
 'abuse',
 'academy',
 'accept',
 'accepted',
 'accepts',
 'access',
 'accident',
 'accidentally',
 'accidents',
 'accompanied',
 'according',
 'account',
 'accused',
 'ace',
 'achieve',
 'act',
 'acting',
 'action',
 'actions',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actually',
 'adam',
 'adams',
 'adamwylie',
 'adapt',
 'adaptation',
 'add',
 'addisonrichards',
 'addition',
 'adds',
 'adewaleakinnuoye',
 'aditya',
 'adopted',
 'adorable',
 'adrianrawlins',
 'adult',
 'adulthood',
 'adults',
 'advanced',
 'advantage',
 'adventure',
 'adventurer',
 'adventures',
 'advice',
 'affair',
 'affairs',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'afro',
 'aftermath',
 'agbaje',
 'age',
 'aged',
 'agency',
 'agenda',
 'agent',
 'agents',
 'ages',
 'aggressive',
 'aging',
 'ago',
 'agree',
 'agrees',
 'ahead',
 'aid',
 'aidangillen',
 'aided',
 'aims',
 'air',
 'airplane',
 'airport',
 'ajaydevgn',
 'aka',
 'akane',
 'akemi',
 'akihikohirata',
 'akihirotomikawa',
 'akikaurismäki',
 'akioohtsuka',
 'akiratakarada',
 'al',
 'alaindelon',
 'alan',
 'alancumming',
 'alannapier',
 'alannaubach',
 'alanrickman',
 'alantudyk',
 'alaska',
 'albertpyun',
 'alcoholic',
 'aldosambrell',
 'alec',
 'alecbaldwin',
 'aleksandrdemidov',
 'alekseibuldakov',
 'alekseychadov',
 'alessandrojuliani',
 'alex',
 'alexander',
 'alexapenavega',
 'alexzamm',
 'alfieenoch',
 'alfredmolina',
 'ali',
 'alice',
 'alien',
 'aliens',
 'alike',
 'alilarter',
 'alive',
 'allanedwall',
 'alleong',
 'alliance',
 'allied',
 'allies',
 'allison',
 'allow',
 'allowed',
 'allowing',
 'allows',
 'ally',
 'alongside',
 'alpha',
 'alroker',
 'alter',
 'altered',
 'alunarmstrong',
 'alysonstoner',
 'alyssa',
 'amanda',
 'amateur',
 'amato',
 'amazing',
 'amazon',
 'ambitious',
 'america',
 'american',
 'americans',
 'amidst',
 'amityville',
 'amnesia',
 'amp',
 'amusement',
 'amy',
 'amypoehler',
 'ana',
 'analyst',
 'ananka',
 'anastasiossoulis',
 'ancient',
 'andershove',
 'andersnilsson',
 'anderson',
 'andrew',
 'andrewadamson',
 'andrewdivoff',
 'andrewrobinson',
 'andrewstanton',
 'android',
 'andy',
 'andydick',
 'andygarcía',
 'andylau',
 'andysamberg',
 'andyserkis',
 'angel',
 'angela',
 'angeles',
 'angelinajolie',
 'angelo',
 'angeloinfanti',
 'angels',
 'anger',
 'angry',
 'angusmacinnes',
 'angusscrimm',
 'animal',
 'animals',
 'animated',
 'animation',
 'anime',
 'anjelicahuston',
 'ankeengelke',
 'ann',
 'anna',
 'annafaris',
 'annakendrick',
 'annamazzamauro',
 'annarella',
 'anncodee',
 'anndimcafee',
 'anne',
 'annechazel',
 'annehathaway',
 'annettefunicello',
 'annie',
 'anniepotts',
 'annika',
 'anniversary',
 'announces',
 'annual',
 'answer',
 'answers',
 'anthology',
 'anthony',
 'anthonyanderson',
 'anthonyc',
 'anthonydaniels',
 'anthonyhickox',
 'anthonyhopkins',
 'anthonyquinn',
 'anthonywong',
 'anti',
 'antics',
 'antoine',
 'antonio',
 'antonioallocca',
 'antoniobanderas',
 'antonyelchin',
 'anttireini',
 'apart',
 'apartment',
 'ape',
 'apes',
 'apocalypse',
 'apocalyptic',
 'apollo',
 'apparent',
 'apparently',
 'appear',
 'appearance',
 'appeared',
 'appears',
 'apple',
 'apprentice',
 'approaching',
 'aprilwinchell',
 'apu',
 'arch',
 'archaeologist',
 'architect',
 'area',
 'aren',
 'ariel',
 'arielwinter',
 'arise',
 'arm',
 'armed',
 'armies',
 'arminrohde',
 'armor',
 'armored',
 'arms',
 'armstrong',
 'army',
 'arnoldschwarzenegger',
 'arnoldvosloo',
 'arranged',
 'arrest',
 'arrested',
 'arrival',
 'arrive',
 'arrived',
 'arrives',
 'arriving',
 'arrogant',
 'arshadwarsi',
 'art',
 'arthur',
 'arthurlake',
 'arthurtovey',
 'artifact',
 'artifacts',
 'artist',
 'artists',
 'artlafleur',
 'arts',
 'artursmolyaninov',
 'asaokoike',
 'asaouchida',
 'asgard',
 'ash',
 'ashleyjudd',
 'asia',
 'asian',
 'aside',
 'ask',
 'asked',
 'asking',
 'asks',
 'aspects',
 'aspiring',
 'assassin',
 'assassinate',
 'assassination',
 'assassins',
 'assault',
 'assigned',
 'assignment',
 'assist',
 'assistant',
 'assume',
 'assumes',
 'asterix',
 'astronaut',
 'asuka',
 'asylum',
 'athena',
 'athens',
 'atomic',
 'atsukotanaka',
 'att',
 'attack',
 'attacked',
 'attacking',
 'attacks',
 'attempt',
 'attempting',
 'attempts',
 'attend',
 'attendant',
 'attending',
 'attention',
 'attitude',
 'attorney',
 'attracted',
 'attractive',
 'audience',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'authorities',
 'authority',
 'avaacres',
 'avenge',
 'avoid',
 'awaits',
 'awakened',
 'awakens',
 'award',
 'aware',
 'away',
 'awkward',
 'awry',
 'ayahisakawa',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'bad',
 'bag',
 'bailey',
 'baker',
 'balance',
 'ball',
 'ballet',
 'balls',
 'band',
 'bandit',
 'bands',
 'bangkok',
 'bank',
 'banks',
 'bar',
 'barbarawindsor',
 'barely',
 'bargained',
 'barney',
 'baron',
 'barren',
 'barrera',
 'barrybostwick',
 'barrysonnenfeld',
 'bars',
 'base',
 'baseball',
 'based',
 'basement',
 'basilrathbone',
 'basketball',
 'bat',
 'batman',
 'battle',
 'battles',
 'battling',
 'baxter',
 'bay',
 'bdwong',
 'beach',
 'bear',
 'bearing',
 'bears',
 'beast',
 'beasts',
 'beat',
 'beautiful',
 'beauty',
 'beck',
 'beckett',
 'bed',
 'beer',
 'beethoven',
 'befriended',
 'befriends',
 'began',
 'begin',
 'beginning',
 'begins',
 'begun',
 'behavior',
 'belalugosi',
 'believe',
 'believed',
 'believes',
 'believing',
 'belinda',
 'bell',
 'bella',
 'belle',
 'belong',
 'belongs',
 'beloved',
 'ben',
 'benbrowder',
 'bencross',
 'beneath',
 'benedictcumberbatch',
 'benefit',
 'beniciodeltoro',
 'benitostefanelli',
 'benjamin',
 'benjaminbratt',
 'bennybartlett',
 'bensonfong',
 'benstein',
 'benstiller',
 'bent',
 'berlin',
 'bernard',
 'bernardbresslaw',
 'bernardcribbins',
 'bernardfarcy',
 'bernardgorcey',
 'bernardlee',
 'bernie',
 'berniecasey',
 'berniemac',
 'bessflowers',
 'best',
 'bet',
 'beth',
 'bethgrant',
 'betrayal',
 'betrayed',
 'betsyrussell',
 'better',
 'beverlyd',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bikers',
 'bikini',
 'bilbo',
 'billa',
 'billbixby',
 'billcobbs',
 'billfagerbakke',
 'billfarmer',
 'billhader',
 'billion',
 'billionaire',
 'billmaynard',
 'billmoseley',
 'billmurray',
 'billnighy',
 'billnunn',
 'billpullman',
 'billtung',
 'billy',
 'billybevan',
 'billyburke',
 'billyconnolly',
 'billycrystal',
 'billydeewilliams',
 'billydrago',
 'billywest',
 'billyzane',
 'bingcrosby',
 'bir',
 'bird',
 'birgittaandersson',
 'birth',
 'birthday',
 'bishop',
 'bison',
 'bit',
 'bitten',
 'bitter',
 'bizarre',
 'björngranath',
 'björngustafson',
 'black',
 'blackmail',
 'blade',
 'blakeedwards',
 'blazing',
 'blind',
 'blob',
 'block',
 'blockbuster',
 'blonde',
 'blondie',
 'blood',
 'blooded',
 'bloodthirsty',
 'bloody',
 'blow',
 'blown',
 'blows',
 'blu',
 'blue',
 'blythedanner',
 'bo',
 'board',
 'boarding',
 'boat',
 'bob',
 'bobbergen',
 'bobby',
 'bobhastings',
 'bobhope',
 'bobnewhart',
 'bobpeterson',
 'bodies',
 'body',
 'boiled',
 'bold',
 'bomanirani',
 'bomb',
 'bombing',
 'bombolo',
 'bombs',
 'bond',
 'bonds',
 'bones',
 'bong',
 'bonniehunt',
 'bonniewright',
 'booboostewart',
 'boog',
 'book',
 'books',
 'borcuse',
 'border',
 'bored',
 'boriskarloff',
 'born',
 'boss',
 'bosses',
 'boston',
 'bound',
 'bounty',
 'bourne',
 'bowery',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyfriend',
 'boys',
 'brad',
 'braddourif',
 'bradgarrett',
 'bradleyraymond',
 'bradpitt',
 'brady',
 'brain',
 'brand',
 'brandon',
 'brave',
 'break',
 'breaking',
 'breaks',
 'breathing',
 'breckinmeyer',
 'breed',
 'brendanfletcher',
 'brendanfraser',
 'brendangleeson',
 'brentspiner',
 'brewing',
 'brian',
 'briancox',
 'briandennehy',
 'briandoyle',
 'brianlevant',
 'briano',
 'brianposehn',
 'briant',
 'briantee',
 'brianthompson',
 'briantochi',
 'brianyuzna',
 'bride',
 'bridge',
 'bridges',
 'bridget',
 'bridgethoffman',
 'briefcase',
 'brien',
 'bright',
 'brigitte',
 'brilliant',
 'bring',
 'bringing',
 'brings',
 'brink',
 'brionjames',
 'britain',
 'british',
 'broadway',
 'brock',
 'broke',
 'broken',
 'bronze',
 'brood',
 'brother',
 'brotherhood',
 'brothers',
 'brought',
 'brown',
 'bruce',
 'bruceboxleitner',
 'brucecampbell',
 'brucedavison',
 'brucemcgill',
 'brucespence',
 'brucewillis',
 'brunocorbucci',
 'brutal',
 'brutally',
 'bryan',
 'bryansinger',
 'bubbasmith',
 'buck',
 'bud',
 'buddies',
 'buddy',
 'budget',
 'budspencer',
 'bugs',
 'build',
 'building',
 'builds',
 'built',
 'bullet',
 'bullied',
 'bullies',
 'bully',
 'bum',
 'bumbling',
 'bunch',
 'burgessmeredith',
 'buried',
 'burn',
 'burnelltucker',
 'burning',
 'burns',
 'burt',
 'burtkwouk',
 'burtreynolds',
 'burtyoung',
 'bus',
 'bush',
 'business',
 'businessman',
 'busy',
 'butler',
 'buy',
 'buys',
 'buzz',
 'cabin',
 'caesar',
 'caine',
 'california',
 'callaghan',
 'callahan',
 'called',
 'calls',
 'callumkeithrennie',
 'calvin',
 'camclarke',
 'came',
 'camera',
 'cameras',
 'camerondiaz',
 'camp',
 'campaign',
 'campbell',
 'campers',
 'camping',
 'campus',
 'canine',
 'cannibals',
 'cannonball',
 'capable',
 'capital',
 'capra',
 'captain',
 'captive',
 'captivity',
 'capture',
 'captured',
 'captures',
 'capturing',
 'car',
 'caravan',
 'card',
 'cards',
 'care',
 'career',
 'careers',
 'caretaker',
 'caribbean',
 'carinalau',
 'carl',
 'carlagugino',
 'carlin',
 'carlosalazraqui',
 'carlossaldanha',
 'carlreiner',
 'carlweathers',
 'carmen',
 'carnival',
 'carol',
 'carolinemunro',
 'carolinewilliams',
 'carpenter',
 'carrie',
 'carriefisher',
 'carries',
 'carroll',
 'carrolnaish',
 'carry',
 'carrying',
 'cars',
 'carson',
 'cartel',
 'carter',
 'cartoon',
 'cary',
 'case',
 'cases',
 'casey',
 'cash',
 'casino',
 'casper',
 'caspervandien',
 'cast',
 'castle',
 'casts',
 'casual',
 'cat',
 'catastrophe',
 'catastrophic',
 'catch',
 'catches',
 'cateblanchett',
 'catherinekeener',
 'catholic',
 'cathymoriarty',
 'cats',
 'caught',
 'cause',
 'caused',
 'causes',
 'causing',
 'cave',
 'cchpounder',
 'cedrictheentertainer',
 'celebi',
 'celebrate',
 'celebrated',
 'celebration',
 'celiaimrie',
 'center',
 'centered',
 'centers',
 'central',
 'centuries',
 'century',
 'ceremony',
 'certain',
 'chain',
 'challenge',
 'challenged',
 'challenges',
 'challenging',
 'chambers',
 'champion',
 'championship',
 'chan',
 'chance',
 'change',
 'changed',
 'changes',
 'changing',
 'channel',
 'channingtatum',
 'chaos',
 'chapter',
 'character',
 'characters',
 'charge',
 'charged',
 'charges',
 'charles',
 'charlesband',
 'charlesbronson',
 'charlesdance',
 'charlesdegaulle',
 'charlesfleischer',
 'charlesgrosvenor',
 'charleshawtrey',
 'charlesmartinsmith',
 'charlesnapier',
 'charley',
 'charlie',
 'charlieadler',
 'charlieday',
 'charlieschlatter',
 'charliesheen',
 'charlizetheron',
 'charlotte',
 'charltonheston',
 'charm',
 'charming',
 'chase',
 'chases',
 'che',
 'cheap',
 'cheating',
 'check',
 'cheech',
 'cheechmarin',
 'cheer',
 'chef',
 'chelahhorsdal',
 'chen',
 'cheng',
 'cherryiii',
 'chest',
 'cheung',
 'chevychase',
 'chi',
 'chiakikuriyama',
 'chicago',
 'chicken',
 'chief',
 'chiekomatsubara',
 'child',
 'childhood',
 'children',
 'chilling',
 'china',
 'chinese',
 'ching',
 'chinka',
 'chip',
 'chips',
 'chiu',
 'chiwasaito',
 'chloëgracemoretz',
 'cho',
 'choice',
 'choices',
 'chong',
 'choose',
 'chooses',
 'chosen',
 'chow',
 'chowyun',
 'chris',
 'chriscooper',
 'chriscoppola',
 'chrisevans',
 'chrishemsworth',
 'chrismiller',
 'chriso',
 'chrispine',
 'chrisrock',
 'chrissanders',
 'christ',
 'christian',
 'christianbale',
 'christianclavier',
 'christianslater',
 'christiantramitz',
 'christinaapplegate',
 'christinaricci',
 'christmas',
 'christopher',
 'christopherdanielbarnes',
 'christopherfairbank',
 'christopherjudge',
 'christopherknights',
 'christopherlambert',
 'christopherlee',
 'christopherlloyd',
 'christophermcdonald',
 'christophermintz',
 'christopherplummer',
 'christopherwalken',
 'christophwaltz',
 'chriswedge',
 'chronicles',
 'chu',
 'chucknorris',
 'chue',
 'chulbul',
 'chun',
 'chung',
 'church',
 'cia',
 'ciaránhinds',
 'cindel',
 'cinderella',
 ...]

Stemming..................

In [195]:
import nltk

In [196]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [197]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [198]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\HARSH\AppData\Local\Temp\ipykernel_2800\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [199]:
new_df['tags'][0]

"led by woody, andy' toy live happili in hi room until andy' birthday bring buzz lightyear onto the scene. afraid of lose hi place in andy' heart, woodi plot against buzz. but when circumst separ buzz and woodi from their owner, the duo eventu learn to put asid their differences. tomhank timallen donrickl jimvarney wallaceshawn johnratzenberg anniepott johnmorri erikvondetten lauriemetcalf r.leeermey sarahfreeman pennjillett johnlasset anim comedi famili"

In [200]:
from sklearn.metrics.pairwise import cosine_similarity

In [201]:
similarity = cosine_similarity(vectors)

In [202]:
similarity[0]

array([1.        , 0.04465443, 0.02169815, ..., 0.02417547, 0.02200594,
       0.        ])

In [204]:
import pickle
pickle.dump(similarity,open('content_similarity.pkl','wb'))

In [269]:
def recommend(movie_id):
    
    movie_index = new_df[new_df['id'] == movie_id].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:10]
    
    data = []
    
    for i in movies_list:
        item = []
        temp_df = new_df[new_df['id'] == new_df.iloc[i[0]].id]
        item.extend(list(temp_df.drop_duplicates('id')['id'].values))
        item.extend(list(temp_df.drop_duplicates('id')['image1'].values))
        
        data.append(item)
    return data

In [270]:
recommend('862')

[['863', '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg'],
 ['10193', '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg'],
 ['79701', '/epKHY3ZHJkTF7U3YAXCrjtmnC99.jpg'],
 ['9497', '/ayIx53r5l0PTX9hRBMoJLMcsrGE.jpg'],
 ['9514', '/swIAjeFLXCHLudaai6tILlNUf1u.jpg'],
 ['54551', '/xIXhIlZDRmSSfNbpN7kBCm5hg39.jpg'],
 ['15674', None],
 ['123867', '/9ISZOSToAWI8adjPiPIEroO2QGA.jpg'],
 ['27850', '/gqorFeRQWKW4g68vzLbcvUScrgp.jpg']]

In [236]:
import pickle
pickle.dump(new_df,open('Tokenized_movielist.pkl','wb'))